.widget-content{
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.widget-content{
    margin: 5px;
    display:flex;
    padding: 15px;
    /* border-bottom: 1px solid lightgray; */
}

.widget-contentTitle > h5:hover{
    border-bottom: 1px solid black;
    max-width: fit-content;
}

.widget-content > img {
    height: 30px;
    width: 50px;
    border-radius: 5px;
}

.widget-contentTitle {
    margin-left: 10px;
}

.widget-contentTitle > h5{
    color: rgb(70,80,68);
}

.widget-contentTitle > p{
    color: gray;
    font-size: small;
}

